footer#footer
  .inner
    section
      h2 Get in touch
      form(method='post', action='#')
        .fields
          .field.half
            input#name(type='text', name='name', placeholder='Name')
          .field.half
            input#email(type='email', name='email', placeholder='Email')
          .field
            textarea#message(name='message', placeholder='Message')
        ul.actions
          li
            input.primary(type='submit', value='Send')
    section
      h2 Follow
      ul.icons
        li
          a.icon.style2.fa-twitter(href='#')
            span.label Twitter
        li
          a.icon.style2.fa-facebook(href='#')
            span.label Facebook
        li
          a.icon.style2.fa-instagram(href='#')
            span.label Instagram
        li
          a.icon.style2.fa-dribbble(href='#')
            span.label Dribbble
        li
          a.icon.style2.fa-github(href='#')
            span.label GitHub
        li
          a.icon.style2.fa-500px(href='#')
            span.label 500px
        li
          a.icon.style2.fa-phone(href='#')
            span.label Phone
        li
          a.icon.style2.fa-envelope-o(href='#')
            span.label Email
    ul.copyright
      li © Untitled. All rights reserved
      li
        | Design: 
        a(href='http://html5up.net') HTML5 UP
//  End Footer 
