footer#footer
  .inner
    section
      h2 Account Information
      form(method='post', action='/accountinformation')
        .fields
          .field.half
            label(for='bitmexaccount') BITMEX Account
            select#bitmexaccount(name='bitmexaccount')
              if bitmexaccounts
                each account in bitmexaccounts
                  option(value='#{account}') #{account.toUpperCase()}
          .field.half
            label(for='informationrequired') Information Required
            select#informationrequired(name='informationrequired')
              option(value='user', selected) User
              option(value='user/margin') Margin
              option(value='user/wallet') Wallet
          .field.half
            input(type='submit' value='Submit')
    section
      h2 Follow
      ul.icons
        li
          a.icon.style2.fa-twitter(href='#')
            span.label Twitter
        li
          a.icon.style2.fa-facebook(href='#')
            span.label Facebook
        li
          a.icon.style2.fa-instagram(href='#')
            span.label Instagram
        li
          a.icon.style2.fa-dribbble(href='#')
            span.label Dribbble
        li
          a.icon.style2.fa-github(href='#')
            span.label GitHub
        li
          a.icon.style2.fa-500px(href='#')
            span.label 500px
        li
          a.icon.style2.fa-phone(href='#')
            span.label Phone
        li
          a.icon.style2.fa-envelope-o(href='#')
            span.label Email
    ul.copyright
      li © Useful Coin LLC. All rights reserved
      li
        | Design: 
        a(href='http://html5up.net') HTML5 UP
//  End Footer 
