nav#menu
  h2 Menu
  ul
    li
      a(href='index.html') Home
    li
      a(href='generic.html') Ipsum veroeros
    li
      a(href='generic.html') Tempus etiam
    li
      a(href='generic.html') Consequat dolor
    li
      a(href='elements.html') Elements
//  End Menu
