extends layout.pug
block content
  span.image.main
    img(src='/images/pic13.jpg', alt)
  h1 #{parameterdata.accountid.toUpperCase()}: Wallet Information
  p Wallet information for the #{parameterdata.accountid} account.
  h2 BitMex Wallet
  table.alt
    tbody
      each data, key in walletdata
        tr
          td=key
          td=data
  p This user should have not have a balance exceeding $1000.
